<vevol-tabs>
  <!-- Your code here -->
</vevol-tabs>


{% schema %}
{
  "name": "Tabs section",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section heading",
      "default": "Tabs section"
    }
  ],
  "blocks": [
    {
      "name": "Tab",
      "type": "tab",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Tab heading",
          "default": "Tab heading"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Tab content",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, vitae, in ultrices massa, eleifend elementum aenean. Nibh gravida adipiscing ullamcorper risus in amet est. Quis nascetur ultrices a ante. Orci nulla porttitor nibh dictum.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tabs",
      "blocks": [
        {
          "type": "tab"
        },
        {
          "type": "tab"
        },
        {
          "type": "tab"
        }
      ]
    }
  ]
}
{% endschema %}
